body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .login-form,
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .login-form h2,
  .register-form h2 {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .donate-blood-block, .receive-blood-block {
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .donate-blood-block {
    background-color: #3db93d;
    border: 5px solid #3db93d;
  }
  
  .receive-blood-block {
    background-color: #ff0000;
    border: 5px solid #ff0000;
  }
  
  .donate-blood-block:hover, .receive-blood-block:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }
  